<!DOCTYPE html>
<html lang="en">
 <head>
      <meta charset= "UTF-8">
  </head>
<body>
  <ul>
 {{range .Wisdom}}
  <li>{{.Name}} - {{.Motto}}  </li>
  {{end}}
  </ul>
  
  <ul>
 {{range .Transport}}
  <li>{{.Manufacturer}} - {{.Model}}  </li>
  {{end}}
  </ul>
  
</body>
</html>